import { Component, HostBinding, OnInit } from '@angular/core';
import { AngularNodeViewComponent } from 'ngx-tiptap';
import { WidgetInterface } from '../widget.interface';

@Component({
  template: 'app-base-widget',
})
export abstract class BaseWidgetComponent
  extends AngularNodeViewComponent
  implements WidgetInterface, OnInit
{
  name = 'Base';
  id: string;
  align: 'left' | 'center' | 'right';

  ngOnInit() {
    this.id = this.node.attrs.id.toString();
    this.align = this.node.attrs.align;
  }
}
