.container {
  position: relative;
}

.overlay {
  content: '';
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  background-color: red;
  border: 5px solid green;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay:hover {
  opacity: 1;
}
