.container {
  position: relative;
  clear: both;
  width: 66.667%;
}

.container.align-center {
  display: block;
  margin: 0 auto;
}

.container.align-left,
.container.align-right {
  margin-bottom: 10px;
}

.container.align-left {
  float: left;
  margin-right: 10px;
}

.container.align-right {
  float: right;
  margin-left: 10px;
}

.overlay {
  content: '';
  display: block;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: 1px solid transparent;
  background-color: #00000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: grab;
}

.overlay:hover,
::ng-deep .has-focus .overlay {
  border: 1px solid black;
}

::ng-deep .has-focus .overlay {
  background-color: #00000044;
}

.overlay small {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
