:host {
  display: flex;
  height: 100%;
  gap: 50px;
  overflow: hidden;
}

.editor-container, .content-container {
  width: 50%;
}

.editor-container {
  display: flex;
  flex-direction: column;
}


h1 {
  margin-bottom: 70px;
}

tiptap-editor {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: hidden;
}

.floating-menu,
.bubble-menu {
  background: #444;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 3px;
  white-space: nowrap;
  color: white;
}

.floating-menu .title,
.bubble-menu .title {
  font-size: 20px;
}

.floating-menu button,
.bubble-menu button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.floating-menu button.active,
.bubble-menu button.active {
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.floating-menu button {
  width: auto;
}

.bubble-menu button {
  line-height: 0;
}

.bubble-menu button span {
  font-size: 20px;
}

.counts {
  margin-top: 3px;
}

.counts p {
  color: #888;
  font-size: 12px;
  margin: 0;
}

p-tabview {
  display: block;
  height: 100%;
}

p-tabview ::ng-deep .p-tabview {
  height: 100%;
}

p-tabview ::ng-deep .p-tabview .p-tabview-panels {
  max-height: calc(100% - 58px);
  overflow: auto;
}
