<h1>Angular TipTap POC</h1>

<!-- EDITOR -->
<tiptap-editor [editor]="editor" [(ngModel)]="content"></tiptap-editor>

<!-- NEW LINE MENU -->
<tiptap-floating-menu [editor]="editor">
  <div class="floating-menu">
    <span class="material-symbols-sharp title"> widgets </span>

    <button (click)="setTweet()">Tweet</button>
  </div>
</tiptap-floating-menu>

<!-- TEXT SELECTION MENU -->
<tiptap-bubble-menu
  [editor]="editor"
  [pluginKey]="'text-menu'"
  [shouldShow]="isTextSelected"
>
  <div class="bubble-menu">
    <button
      (click)="editor.chain().focus().toggleBold().run()"
      [ngClass]="{ active: editor.isActive('bold') }"
    >
      <span class="material-symbols-sharp"> format_bold </span>
    </button>

    <button
      (click)="editor.chain().focus().toggleItalic().run()"
      [ngClass]="{ active: editor.isActive('italic') }"
    >
      <span class="material-symbols-sharp"> format_italic </span>
    </button>

    <button
      (click)="editor.chain().focus().toggleBulletList().run()"
      [ngClass]="{ active: editor.isActive('bulletList') }"
    >
      <span class="material-symbols-sharp"> format_list_bulleted </span>
    </button>

    <button
      (click)="editor.chain().focus().toggleOrderedList().run()"
      [ngClass]="{ active: editor.isActive('orderedList') }"
    >
      <span class="material-symbols-sharp"> format_list_numbered </span>
    </button>

    <button (click)="setLink()" [ngClass]="{ active: editor.isActive('link') }">
      <span class="material-symbols-sharp"> add_link </span>
    </button>

    <button
      (click)="editor.chain().focus().toggleHeading({ level: 2 }).run()"
      [ngClass]="{ active: editor.isActive('heading', { level: 2 }) }"
    >
      <span class="material-symbols-sharp"> format_h2 </span>
    </button>

    <button
      (click)="editor.chain().focus().toggleHeading({ level: 3 }).run()"
      [ngClass]="{ active: editor.isActive('heading', { level: 3 }) }"
    >
      <span class="material-symbols-sharp"> format_h3 </span>
    </button>
  </div>
</tiptap-bubble-menu>

<!-- WIDGET SELECTION MENU -->
<tiptap-bubble-menu
  [editor]="editor"
  [pluginKey]="'widget-menu'"
  [shouldShow]="isWidgetSelected"
>
  <div class="bubble-menu">
    <button
      (click)="editor.chain().focus().setAlign('left').run()"
      [ngClass]="{ active: editor.isActive({ align: 'left' }) }"
    >
      <span class="material-symbols-sharp"> format_align_left </span>
    </button>

    <button
      (click)="editor.chain().focus().setTextAlign('center').run()"
      [ngClass]="{ active: editor.isActive({ textAlign: 'center' }) }"
    >
      <span class="material-symbols-sharp"> format_align_center </span>
    </button>

    <button
      (click)="editor.chain().focus().setTextAlign('right').run()"
      [ngClass]="{ active: editor.isActive({ textAlign: 'right' }) }"
    >
      <span class="material-symbols-sharp"> format_align_right </span>
    </button>

    <button (click)="editor.chain().focus().createParagraphNear().run()">
      <span class="material-symbols-sharp"> format_paragraph </span>
    </button>

    <button (click)="editor.chain().focus().deleteSelection().run()">
      <span class="material-symbols-sharp"> delete </span>
    </button>
  </div>
</tiptap-bubble-menu>

<!-- COUNTERS -->
<div class="counts">
  <p>{{ editor.storage.characterCount.characters() }} characters</p>
  <p>{{ editor.storage.characterCount.words() }} words</p>
</div>

<!-- CONTENT -->
<ngx-tabs>
  <ngx-tab [active]="true" name="JSON">
    <pre>{{ stringify(editor.getJSON()) }}</pre>
  </ngx-tab>
  <ngx-tab name="HTML">
    <pre>{{ formatHtml(editor.getHTML()) }}</pre>
  </ngx-tab>
  <ngx-tab name="Text">
    <pre>{{ editor.getText() }}</pre>
  </ngx-tab>
</ngx-tabs>
