/* Add application styles & imports to this file! */
.ProseMirror {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ProseMirror:focus {
  outline: none;
}

.material-symbols-sharp {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 24;
}

.drop-cursor {
  background-color: transparent !important;
  border-top: 3px dotted rgb(1, 127, 248);
}

.tippy-box {
  max-width: 100% !important;
}