/* Add application styles & imports to this file! */
.ProseMirror {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ProseMirror:focus {
  outline: none;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 200,
  'opsz' 24
}