@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  font-family: var(--font-family);
}

/* Add application styles & imports to this file! */
.ProseMirror {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ProseMirror:focus {
  outline: none;
}

/* For icons */
.material-symbols-sharp {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 24;
}

.drop-cursor {
  background-color: transparent !important;
  border-top: 3px dotted rgb(1, 127, 248);
}

/* Fix for bubble menu width */
.tippy-box {
  max-width: 100% !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-style: italic;
}

.ProseMirror::after {
  content: '';
  display: block;
  clear: both;
}

/* Visual fix */
.twitter-tweet {
  margin: 0 !important;
}